<template>
  <div>
    <base-carousel />
    <base-categories />
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import BaseCarousel from "../../components/Carousel/BaseCarousel.vue";
import BaseCategories from "../../components/Categories/BaseCategories.vue";
export default Vue.extend({
  name: "HomePage",
  components: {
    BaseCarousel,
    BaseCategories,
  },
  async created() {
    let url = `http://localhost:3333/api/produto`;
    console.log(url);

    let respListProducts;

    try {
      const reqListaLojas = await fetch(url);
      respListProducts = await reqListaLojas.json();
      console.log(respListProducts);
    } catch (err) {
      console.log("Tratamento de erros aqui");
    }

    respListProducts.forEach(products => {
      console.log(products.produto_codigo)
    });
  },
});
</script>
