<template>
  <div>
    <v-app-bar color="primary" dark height="80px" app>
      <v-app-bar-nav-icon @click="toggleDrawer"></v-app-bar-nav-icon>

      <v-spacer></v-spacer>

      <img src="../../../assets/images/logo.png" alt="" width="50px" />

      <v-spacer></v-spacer>

      <v-badge color="green" content="3" overlap>
        <v-btn color="transparent" elevation="0" link to="#">
          <v-icon>mdi-cart</v-icon>
        </v-btn>
      </v-badge>

      <template v-slot:extension>
        <v-container>
          <base-search class="mt-n4" />
        </v-container>
      </template>
    </v-app-bar>

    <base-drawer />
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import BaseDrawer from "@/components/Drawer/Mobile/BaseDrawer.vue";
import BaseSearch from "@/components/Widgets/Search/BaseSearch.vue";
export default Vue.extend({
  name: "BaseAppBarMobile",
  components: { BaseDrawer, BaseSearch },
  methods: {
    // Método para alterar a visibilidade do drawer quando clicar no botão do menu
    toggleDrawer() {
      this.$root.$emit("drawer::toggle");
    },
  },
});
</script>
