<template>
  <v-container>
    <v-row justify="center" class="my-5">
      <div class="section-title"><h1>Identificação</h1></div>
    </v-row>
    <v-row justify="center">
      <v-col cols="12" md="6">
        <h2 class="text-center">Primeiro acesso ?</h2>
        <!-- Fomulário de cadastro -->
        <register-form />
      </v-col>
      <v-divider vertical c></v-divider>
      <v-col cols="12" md="6">
        <h2 class="text-center">Já possui conta ?</h2>
        <!-- Fomulário de login -->
        <login-form />
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import Vue from "vue";
import RegisterForm from "./register/RegisterForm.vue";
import LoginForm from "./login/LoginForm.vue";
export default Vue.extend({
  components: { RegisterForm, LoginForm },
  name: "IdentificationPage",
});
</script>
