<template>
  <v-container id="categories">
    <h2 class="mb-4">Principais categorias</h2>
    <v-row>
      <v-sheet class="bg-circle" color="primary">
        <img
          src="https://cdn.picpng.com/reindeer/reindeer-dancing-guitar-97469.png"
          alt=""
          width="100px"
        />
      </v-sheet>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import Vue from "vue";
export default Vue.extend({
  name: "BaseCategories",
});
</script>

<style lang="scss" scoped>
#categories {
  padding: 4rem 0;
}
.bg-circle {
  border-radius: 100%;
  background: var(--v-primary-base);
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
