<template>
  <div>
    <!-- Componente de barra de navegação -->
    <base-app-bar v-if="!$vuetify.breakpoint.xs" />

    <base-app-bar-mobile v-else />

    <!-- Views da aplicação -->
    <base-views />
  </div>
</template>

<script lang="ts">
import Vue from "vue";
// Barras de menu
import BaseAppBar from "@/components/AppBar/BaseAppBar.vue";
import BaseAppBarMobile from "@/components/AppBar/Mobile/BaseAppBarMobile.vue";

// Views da aplicação
import BaseViews from "@/layouts/Views.vue";

export default Vue.extend({
  name: "Home",

  components: {
    BaseAppBar,
    BaseAppBarMobile,
    BaseViews,
  },
});
</script>
