<template>
  <div class="text-center">
    <v-menu open-on-hover offset-y>
      <template v-slot:activator="{ on, attrs }">
        <v-btn color="primary" elevation="0" dark v-bind="attrs" v-on="on">
          <v-icon class="mr-2">mdi-format-list-bulleted-type</v-icon>
          Todas as categorias
        </v-btn>

        <v-btn
          :key="index"
          v-for="(button, index) in buttons"
          color="primary"
          elevation="0"
          dark
          link
          to="#"
        >
          <v-icon class="mr-2">{{ button.icon }}</v-icon>
          {{ button.text }}
        </v-btn>
      </template>

      <v-list>
        <v-list-item v-for="(item, index) in items" :key="index" link>
          <v-list-item-title>{{ item.title }}</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
export default Vue.extend({
  name: "BaseMenu",
  data() {
    return {
      items: [
        { title: "Click Me" },
        { title: "Click Me" },
        { title: "Click Me" },
        { title: "Click Me 2" },
      ],
      buttons: [
        {
          text: "Smartphones",
          icon: "mdi-cellphone",
        },
        {
          text: "Esportes",
          icon: "mdi-basketball",
        },
        {
          text: "Games",
          icon: "mdi-google-controller",
        },
        {
          text: "Ofertas do dia",
          icon: "mdi-sale",
        },
      ],
    };
  },
});
</script>
