<template>
  <v-form ref="form" v-model="valid" lazy-validation class="px-4">
    <v-text-field
      v-model="name"
      :rules="nameRules"
      label="Nome"
      type="text"
      class="my-2"
      outlined
      required
    ></v-text-field>

    <v-text-field
      v-model="email"
      :rules="emailRules"
      label="E-mail"
      type="text"
      class="my-2"
      outlined
      required
    ></v-text-field>

    <v-text-field
      v-model="password"
      :rules="passwordRules"
      label="Senha"
      :type="showPassword ? 'text' : 'password'"
      @click:append="showPassword = !showPassword"
      :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
      class="my-2"
      outlined
      required
    ></v-text-field>

    <v-btn :disabled="!valid" color="primary" @click="validate" height="50px">
      Cadastrar
    </v-btn>
  </v-form>
</template>

<script lang="ts">
import Vue from "vue";
export default Vue.extend({
  name: "RegisterForm",
  data() {
    return {
      valid: true,
      name: "",
      email: "",
      showPassword: false,
      nameRules: [
        (v: string) => !!v || "O nome é obrigatório",
        (v: string | string[]) =>
          (v && v.length <= 10) || "Name must be less than 10 characters",
      ],
      emailRules: [
        (v: string) => !!v || "O campo e-mail é obrigatório",
        (v: string) => /.+@.+\..+/.test(v) || "Informe um e-mail válido!",
      ],
      passwordRules: [
        (v: string) => !!v || "A senha é obrigatória",
        (v: string | string[]) =>
          (v && v.length >= 6) || "A senha deve conter no mínimo 6 caracteres",
      ],
    };
  },

  methods: {
    // Valida o formulário
    validate() {
      (this.$refs.form as Vue & { validate: () => boolean }).validate();
    },
  },
});
</script>
