<!-- ========== Barra de navegação ========== -->
<template>
  <v-app-bar color="primary" dark height="100" app>
    <router-link to="/">
      <img
        src="../../assets/images/logo.png"
        alt="Logo promoções"
        class="mr-4"
        width="80px"
      />
    </router-link>

    <!-- Widget de pesquisa -->
    <base-search class="mr-4" />

    <v-btn class="mr-4" light color="white" link to="/identification">
      <v-icon class="mr-2">mdi-account</v-icon>
      Entrar / Cadastrar
    </v-btn>

    <v-badge color="green" content="3" overlap
      ><v-btn color="transparent" elevation="0" link to="#">
        <v-icon x-large>mdi-cart</v-icon>
      </v-btn>
    </v-badge>

    <template v-slot:extension>
      <v-container>
        <base-menu />
      </v-container>
    </template>
  </v-app-bar>
</template>

<script lang="ts">
import Vue from "vue";
import BaseSearch from "@/components/Widgets/Search/BaseSearch.vue";
import BaseMenu from "@/components/Widgets/Menu/BaseMenu.vue";
export default Vue.extend({
  components: { BaseSearch, BaseMenu },
  name: "BaseAppBAr",
});
</script>

<style lang="scss" scoped>
.v-btn {
  text-transform: none;
}
</style>
